.add-user-card {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
}

input.form-control {
    height: 45px;
    border-radius: 8px;
}

button {
    height: 45px;
    border-radius: 8px;
    font-weight: 600;
}

small {
    font-size: 0.85rem;
}
